.bootstrap-tagsinput {
    width: 100%;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.timeline-body .change-content{
    overflow: scroll;
    max-height: 216px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    line-height: 1.3em;
}