.bootstrap-tagsinput {
    width: 100%;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}