/node_modules
/public/storage
/public/icons
/public/video_gallery
/public/video
/public/photos
/public/images
/public/gallery
/public/files
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
resources/backups/
.phpstorm.meta.php
_ide_helper.php
composer.lock